
# ignore html files
*.html

# ignore R history files
*.Rhistory
*.Rapp.history

# ignore cranial data
CranialData.csv

# ignore wireframe originals and params
figures/wireframe_originals
figures/wireframe_params
